body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

.image-container {

    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}


.gallery-image {
    max-width: 400px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.gallery-image:hover {
    transform: scale(1.05);
}